<h2>Paises</h2>
<hr>

<ul class="list-group">
  <li class="list-group-item"
    routerLink="home" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Home Page
  </li>
  <li class="list-group-item"
    routerLink="about" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    About Page
  </li>
  <li class="list-group-item"
    routerLink="contact" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Contact Page
  </li>
</ul>
